# ======= public vars =======
# VITE_LOG_LEVEL=INFO
# VITE_DEBUG_MODE=false

# VITE_APP_BASE=/
# VITE_STATIC_VERSION=202304250134

VITE_SIYUAN_API_URL=http://127.0.0.1:6806
# ======= public vars =======

# ======= private vars =======
# default type, is not set, siyuan is default
# VITE_DEFAULT_TYPE=siyuan

# siyuan
# VITE_SIYUAN_API_URL=http://127.0.0.1:6806
VITE_SIYUAN_AUTH_TOKEN=

# WordPress
# VITE_WORDPRESS_API_URL=https://www.xxx.com/xmlrpc.php
# VITE_WORDPRESS_USERNAME=
# VITE_WORDPRESS_PASSWORD=
# ======= private vars =======